<div id="teamDetailsWrapper">
    <span id="title">{{team.name}}</span>
    <br>
    <br>
    <img src="{{team.crestUrl}}">
    <br>
    <br>
    <span>{{team.address}}</span>
    <br>
    <br>
    <span>{{team.phone}}</span>
    <br>
    <br>
    <span>{{team.email}}</span>
    <br>
    <br>
    <span>{{team.clubColors}}</span>
    <br>
    <br>
    <a href="{{team.website}}">{{team.website}}</a>
</div>
