<div id="teamDetailsWrapper">
    <span class="teamDetails" for="name" id="title">{{team.name}}</span>
    <br>
    <br>
    <img src="{{team.crestUrl}}">
    <br>
    <br>
    <span class="teamDetails">{{team.address}}</span>
    <br>
    <br>
    <span class="teamDetails">{{team.phone}}</span>
    <br>
    <br>
    <span class="teamDetails">{{team.email}}</span>
    <br>
    <br>
    <span class="teamDetails">{{team.clubColors}}</span>
    <br>
    <br>
    <span class="teamDetails">{{team.foundDate}}</span>
    <br>
    <br>
    <a class="teamDetails" href="{{team.website}}">{{team.website}}</a>
    <br>
    <br>
    <a href="/team/{{team.id}}/edit"> Edit </a>
</div>
